/* css.css */
div.ayy {padding: 10000px 0px 0px 0px;}
div.bottom {padding:50px 0px 0px 0px;}
body{background-color:#3F51B5;
	color:#FFFFFF;
	margin:0px;
    padding:0;
	}
h1{
	color:#FFFFFF;
	text-align:center;
	font: bold 400% arial;
	margin-top:0px;
	padding:50px;
	margin-left: 10px;
	margin-right:10px;
	height:10px;
}
p {
	color:#FFFFFF;
	text-align:center;
	font: bold 200% arial;
	margin-left: 10px;
	margin-right:10px;
}
.parallax1 {
	background-image: url("Main.png");

    /* Set a specific height */
    height: 1500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(0.9);
}	
.parallax2 {
	background-image: url("Css.png");

    /* Set a specific height */
    height: 1000px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(0.9);
}	
.parallax3 {
	background-image: url("Second.png");

    /* Set a specific height */
    height: 1500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(0.9);
}	
.parallax4 {
	background-image: url("Script.png");

    /* Set a specific height */
    height: 1500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(0.9);}
.parallax5 {
	background-image: url("About.png");

    /* Set a specific height */
    height: 1500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(0.9);
}	
.button {
    background-color:#3F51B5;
    color:#FFFFFF;
    border-color:#5C6BC0;
    font-size:24px;
    font: bold 200%arial;
}
.button:hover {
	border-color: #FFFFFF;
	color:#5C6BC0;
	background-color:#FFFFFF;
	cursor:pointer;	
}
.buttonpress {
    border-color: #FFFFFF;
	color:#5C6BC0;
	background-color:#FFFFFF;
    font-size:24px;
    font: bold 200%arial;
}
.navbutton {
    background-color:#3F51B5;
    color:#FFFFFF;
    border-color:#5C6BC0;
    font-size:12px;
    font: bold 100%arial;
}
.navbutton:hover {
	border-color: #FFFFFF;
	color:#5C6BC0;
	background-color:#FFFFFF;
	cursor:pointer;
}
.parallax {
    color:#FFFFFF;
	text-align:center;
	font: bold 600% arial;
	 -webkit-text-stroke: 3px black;
    
}

/* add some padding to force scrollbars */
.parallax__layer {
padding: 75vh 0;
}

/* centre the content in the parallax layers */
.title {
position: absolute;
left: 50%;
top: 50%;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}
.parallax {
height: 100vh;
overflow-x: hidden;
overflow-y: auto;
-webkit-perspective: 1px;
perspective: 1px;
}

.parallax__layer {
position: absolute;

top: 0;
left: 0;
right: 0;
bottom: 0;
}

.parallax__layer--base {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}
.parallax__layer--35 {
	-webkit-transform: translateZ(-0.4375px);
	transform: translateZ(-0.4375px);
}
.parallax__layer--3 {
	-webkit-transform: translateZ(-0.375px);
	transform: translateZ(-0.375px);
}
.parallax__layer--25 {
	-webkit-transform: translateZ(-0.3125px);
	transform: translateZ(-0.3125px);
}
.parallax__layer--2 {
	-webkit-transform: translateZ(-0.25px);
	transform: translateZ(-0.25px);
}
.parallax__layer--15 {
	-webkit-transform: translateZ(-0.1875px);
	transform: translateZ(-0.1875px);
}
.parallax__layer--1 {
	-webkit-transform: translateZ(-0.125px);
	transform: translateZ(-0.125px);
}
.parallax__layer--05 {
	-webkit-transform: translateZ(-0.0625px);
	transform: translateZ(-0.0625px);
}
.parallax__layer--back {
	-webkit-transform: translateZ(-0.5px);
	transform: translateZ(-0.5px);
}
.stickyheader{
	position:fixed;
	background-color:#303F9F;
	height:4.2em;
	width:100%;
	margin-top: -20px;
	padding:0px;
	z-index: 2;
}